/*
CSS stylesheet for https://pr0.tools

https://RundesBalli.com/
https://github.com/

Sources:
- Colors: https://holzmaster.github.io/userscripts/eckdaten/
- CSS Responsive: https://www.w3schools.com/css/css_rwd_intro.asp
- CSS Responsive Nav: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
- CSS Nav Sticky: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
- CSS Responsive Forms: https://www.w3schools.com/css/css_form.asp
- Font-Awesome Free: https://fontawesome.com/start

Contents:
1. General
2. Header
3. Navigation
4. Footer
5. Grid
*/

/*
  1. General
*/

html, body {
  padding: 0px;
  margin: 0px;
  background: #161618;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: #f2f5f4;
}

body {
  display: flex;
  flex-flow: column;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

img.thumb {
  border: 1px solid #f2f5f4;
}

a {
  outline: none;
  color: #75c0c7;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

a:active, a:hover, a:focus {
  color: #f2f5f4;
  text-decoration: underline;
}

h1, h2, h3 {
  text-align: center;
}

.highlight {
  color: #ee4d2e;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.bigger {
  font-size: 22px;
}

/*
1.1 Fontawesome
https://fontawesome.com/
*/

@font-face {
  font-family: 'fontawesome-r';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/fa-regular-400.eot");
  src: url("/assets/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fa-regular-400.woff2") format("woff2"), url("/assets/fonts/fa-regular-400.woff") format("woff"), url("/assets/fonts/fa-regular-400.ttf") format("truetype"), url("/assets/fonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
  font-family: 'fontawesome-r';
  font-weight: 400;
}

@font-face {
  font-family: 'fontawesome-s';
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/fa-solid-900.eot");
  src: url("/assets/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fa-solid-900.woff2") format("woff2"), url("/assets/fonts/fa-solid-900.woff") format("woff"), url("/assets/fonts/fa-solid-900.ttf") format("truetype"), url("/assets/fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fas {
  font-family: 'fontawesome-s';
  font-weight: 900;
}

@font-face {
  font-family: 'fontawesome-b';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/fa-brands-400.eot");
  src: url("/assets/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fa-brands-400.woff2") format("woff2"), url("/assets/fonts/fa-brands-400.woff") format("woff"), url("/assets/fonts/fa-brands-400.ttf") format("truetype"), url("/assets/fonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'fontawesome-b';
}

/* Icon Klasse */
.icon {
  display: inline;
  padding: 0px 5px 0px 0px;
}

.iconright {
  display: inline;
  padding: 0px 0px 0px 5px;
}

h1 .icon, h2 .icon, h3 .icon {
  padding: 0px 15px 0px 0px;
}

h1 .iconright, h2 .iconright, h3 .iconright {
  padding: 0px 0px 0px 15px;
}

/*
  2. Header
*/

#header {
  flex: none;
  text-align: center;
  margin: 15px auto 10px;
}

/*
  3. Navigation
*/

#nav {
  width: 100%;
  background-color: #212121;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
  flex: none;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

#nav a {
  display: inline-block;
  color: #75c0c7;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s;
}

#nav a:hover {
  color: #f2f5f4;
}

#nav a.active {
  color: #ee4d2e;
}

#nav a.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  #nav a:not(:nth-child(2)) {
    display: none;
  }
  
  #nav a.icon {
    display: inline-block;
  }
  
  #nav.responsive {
    position: relative;
  }
  
  #nav.responsive a {
    display: inline-block;
  }
}

/*
  4. Footer
*/

#footer {
  width: 100%;
  background-color: #212121;
  text-align: center;
  flex: none;
  padding: 5px 0px;
  color: #888888;
}

#footer > span {
  margin: 0px 10px;
  display: inline-block;
}

#footer > span > a {
  color: #75c0c7;
  transition: all 0.3s;
  padding: 0px 5px;
}

#footer > span > a:hover, #footer > span > a:focus {
  color: #f2f5f4;
  text-decoration: none;
}

/*
  5. Grid
*/

#wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 12px auto;
  flex: auto;
}

[class*="col-"] {
  float: left;
  padding: 5px 5px;
  border: 0;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    padding: 5px 8px;
  }
  .col-s-0 {width: 0%; display: none;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .row {
    margin-bottom: 14px;
  }

  .mobileCentered {
    text-align: center;
  }
}

@media only screen and (min-width: 601px) {
  [class*="col-"] {
    padding: 8px 12px;
  }
  .col-l-0 {width: 0%; display: none;}
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}

  .alignRightNotMobile {
    text-align: right;
  }
}

@media only screen and (max-width: 1200px) {
  #wrapper, #header {
    padding: 0px 10px;
  }

  #footer {
    padding: 5px 10px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.hover:hover {
  background-color: #212121;
}

.spacer-s {
  height: 15px;
}

.spacer-m {
  height: 30px;
}

.spacer-l {
  height: 50px;
}

.item {
  border: 2px solid #444444;
  background: rgba(68, 68, 68, 0.2);
}
